.wrap {
    display: flex;
    flex-direction: column;
    overflow: overlay;
}

.title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
}

.ratingWrap {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.ratingWrap p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.price {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 24px;
}

.mainWrap {
    padding-right: 16px;
}

.wrapOverlay {
    overflow-y: auto;
    height: auto;
}

.wrapOverlay::-webkit-scrollbar {
    width: 8px;
}

.wrapOverlay::-webkit-scrollbar-track {
    border-radius: 50px;
}

.imgList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    overflow-x: auto;
    margin-bottom: 24px;
}

.imgList li {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: calc(100% / 3);
    min-height: 300px;
}

.imgList img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    align-self: stretch;
}

.description {
    color: #475467;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.tabs {
    margin-top: 44px;
    position: relative;
}

.tabs hr {
    display: block;
    background-color: rgba(16, 24, 40, 0.2);
    margin-top: 24px;
    margin-bottom: 0;
    opacity: 0.2;
}

.tabButton {
    margin-right: 40px;
    color: #101828;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    position: relative;
}

.tabButton.active::after {
    position: absolute;
    top: 45.5px;
    display: block;
    content: '';
    width: 85px;
    height: 4px;
    background-color: #e44848;
}

.tabsContent {
    display: flex;
    gap: 24px;
    margin-top: 44px;
}