.wrapper {
    display: flex;
    flex-direction: column;
    width: 368px;
}

.inputContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 40px;
}

.inputLabel {
    color: #6c717b;
    line-height: 1.5;
}

.inputField {
    display: flex;
    align-items: center;
    padding: 18px 218px 18px 20px;
    border-radius: 12px;
    background-color: #f7f7f7;
    border: none;
}

.inputField input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: #101828;
    padding-left: 8px;
}

.categoryWrapper {
    margin-bottom: 32px;
}

.inputFil {
    color: #475467;
    line-height: 1.5;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 32px;
}

.hr {
    height: 1px;
    background-color: #dadde1;
    margin: 24px 0;
    border: none;
}

.categoryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 100px;
    border-radius: 12px;
    border: 1px solid #dadde1;
    transition: border-color 0.3s;
    gap: 8px;

    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.005em;
    cursor: pointer;
}

.category.active {
    border-color: var(--accent);
}

.searchBtn {
    display: flex;
    width: 166px;
    padding: 16px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 200px;
    background-color: #e44848;
    transition: background-color 0.3s;

    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.005em;
}

.searchBtn:hover {
    background-color: var(--accent-active);
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

/* SearchForm.module.css

.form {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.form> :nth-child(4) {
    margin-top: 32px;
}

.hr {
    background-color: rgba(16, 24, 40, 0.1);
    display: block;
    margin: 24px 0;
    opacity: 0.2;
}

.locationLabel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(16, 24, 40, 0.6);
}

.locationLabel svg {
    position: absolute;
    width: 18px;
    height: 20px;
    left: 18px;
    top: 45px;
    fill: none;
    stroke: #101828;
}

.locationLabel input {
    padding: 18px;
    padding-left: 44px;
    background-color: #f7f7f7;
    color: #101828;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    border-radius: 10px;
    border: none;
}

.locationLabel input::placeholder {
    color: rgba(16, 24, 40, 0.6);
}

.text {
    color: #475467;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 14px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #101828;
}

.title:last-of-type {
    margin-top: 32px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 10px;
}

.wrapContent {
    position: relative;
    display: flex;
    height: 95px;
    align-items: center;
    justify-content: center;
    width: calc((100% - 2 * 10px) / 3);
    border-radius: 10px;
    cursor: pointer;
}

.wrapContent input {
    width: 100px;
    height: 80px;
    padding: 15px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: border 150ms linear;
}

.wrapContent input:checked+div {
    border: 1px solid #e44848;
}

.filterbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(16, 24, 40, 0.2);
}

.searchButton {
    display: block;
    width: 173px;
    padding: 16px 60px;
    border-radius: 200px;
    background-color: #e44848;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.08px;
    cursor: pointer;
    margin-top: 64px;
    margin-bottom: 24px;
    transition: background-color 150ms linear;
}

.searchButton:hover {
    background-color: #d84343;
} */