.wrapper {
    display: flex;
    flex-direction: column;
    width: 368px;
}

.inputContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 40px;
}

.inputLabel {
    color: var(--gray-color);
    line-height: 1.5;
}

.inputField {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 18px 218px 18px 20px;
    border-radius: 12px;
    background-color: var(--inputs-color);
    border: none;
}

.inputField svg {
    width: 20px;
    height: 20px;
}

.inputField input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--main-color);
    padding-left: 8px;
}

.categoryWrapper {
    margin-bottom: 32px;
}

.inputFil {
    color: var(--text-color);
    line-height: 1.5;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 32px;
}

.hr {
    height: 1px;
    background-color: var(--gray-light-color);
    margin: 24px 0;
    border: none;
}

.categoryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 100px;
    border-radius: 12px;
    border: 1px solid var(--gray-light-color);
    transition: border-color 0.3s;
    gap: 8px;

    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.005em;
    cursor: pointer;
}

.category.active {
    border-color: var(--button-color);
}

.searchBtn {
    display: flex;
    width: 166px;
    padding: 16px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 200px;
    background-color: var(--button-color);
    transition: background-color 0.3s;

    color: var(--main-background-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.005em;
}

.searchBtn:hover {
    background-color: var(--button-hover-color);
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.icon {
    width: 32px;
    height: 32px;
}