.vehicleCard {
    display: flex;
    border: 1px solid var(--gray-light-color);
    border-radius: 20px;
    padding: 24px;
    width: 100%;
    gap: 24px;

}

.imgWrapper {
    flex: 0 0 292px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.vehicleImage {
    width: 292px;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    flex-wrap: nowrap;

}

.cardTitle {
    display: flex;
    align-items: center;
}

.vehicleName,
.vehiclePrice {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
}

.vehicleName {
    margin-right: auto;
}

.vehiclePrice {
    margin-right: 12px;
}

.likeIcon {
    cursor: pointer;
    display: flex;
    align-self: center;
    transition: color 0.3s ease;
}

.likeIcon.active {
    color: var(--button-color);
}

.additionalInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ratingLocation {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ratingLocation span {
    line-height: 1.5;
}

.ratingWrapper {
    text-decoration: underline;
}

.ratingWrapper,
.locationWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.description {
    color: var(--text-color);
    line-height: 1.5;
}

.featuresList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 400px;

}

.featureItem {
    display: flex;
    padding: 12px 18px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--badges-color);
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.showMoreBtn {
    display: flex;
    width: 166px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 200px;
    background-color: var(--button-color);

    color: var(--main-background-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.005em;
}

.showMoreBtn:hover {
    background-color: var(--button-hover-color);
}