.form {
    width: 527px;
    height: 532px;
    position: relative;
}

.title {
    color: #101828;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
}

.text {
    color: #475467;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.input {
    background-color: #f7f7f7;
    border-radius: 10px;
    border: none;
    color: #101828;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    margin-top: 14px;
    padding: 18px;
    width: 100%;
    max-width: 527px;
}

.input::placeholder {
    color: rgba(16, 24, 40, 0.6);
}

.error {
    font-size: 12px;
    color: #e44848;
    position: absolute;
    left: 43px;
}

.datePickerWrapper {
    position: relative;
}

.datePicker {
    background-color: #f7f7f7;
    border-radius: 10px;
    border: none;
    color: #101828;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    margin-top: 14px;
    padding: 18px;
    width: 527px;
    position: relative;
}

.datePickerWrapper svg {
    position: absolute;
    right: 28px;
    pointer-events: none;
}

.textarea {
    background-color: #f7f7f7;
    border-radius: 10px;
    border: none;
    color: #101828;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    margin-top: 14px;
    padding: 18px;
    width: 100%;
    max-width: 527px;
    resize: none;
}

.button {
    display: block;
    padding: 16px 60px;
    background-color: #e44848;
    border-radius: 200px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 24px auto 0;
    border: none;
    cursor: pointer;
    transition: background-color 150ms linear;
}

.button:hover {
    background-color: #d84343;
}