.featuresWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 631px;
  padding: 44px 52px;
  border-radius: 10px;
  background-color: var(--inputs-color);
}

.equipment {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.featureItem {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  background-color: var(--badges-color);
  mix-blend-mode: multiply;
  border-radius: 100px;
  gap: 8px;
}

.vehicleDetails {
  width: 100%;
}

.vehicleDetails h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.hr {
  height: 1px;
  background-color: var(--gray-light-color);
  margin: 24px 0;
  border: none;
}

.vehicleDetails ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vehicleDetails ul li {
  display: flex;
  justify-content: space-between;
}

.vehicleDetails ul li span {
  font-weight: 500;
  line-height: 1.5;
}

.component {
  background-color: var(--inputs-color);
  border-radius: 10px;
  padding: 45px 50px;
}

.options {
  margin-bottom: 100px;
}

.item {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  text-transform: capitalize;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}